<div class="container">
  <div class="row">
    <div class="col-md-12">
      <% unless user_signed_in? %>
      <ul>
       <%= link_to "Sign up", new_user_registration_path %> |
       <%= link_to "Sign in", new_user_session_path %>
       <%= link_to user_omniauth_authorize_path(:facebook), class:'btn-auth btn-facebook' do %>
          Sign in with <b>facebook</b>
        <% end %>
        <%= link_to user_omniauth_authorize_path(:twitter), class:'btn-auth btn-twitter' do %>
          Sign in with <b>twitter</b>
        <% end %>
      </ul>
    <% end %>
    </div>
  </div>


  <h4>Recent Posts:</h4>
  <table class="table table-striped table-condensed">
    <thead>
      <tr>
        <th>Author</th>
        <th>Title</th>
      </tr>
    </thead>

    <tbody>
      <% @posts.each do |post| %>
        <tr>
          <td><%= link_to post.user.name %></td>
          <td><%= link_to post.title %></td>
        </tr>
      <% end %>
    </tbody>
  </table>


  
  <div class="row">
    <div class="col-md-12">
      <h4>Recent Debates:</h4>
      <div class="panel panel-default">
        <div class="panel-heading">
          <div class="panel-title">
            <h4> Bishop, Bronwyn
              <small>17 days ago</small>
            </h4>
          </div>
        </div>
        <div class="panel-body">
          <div class="col-md-2">
            <img class="img-responsive img-thumbnail" src="http://www.openaustralia.org/images/mpsL/10046.jpg" alt=""/>
          </div>
          <div class="col-md-10">
            The member will resume his seat. Mr Dreyfus interjecting&#8212; The member shall resume his seat. Mr Dreyfus interjecting&#8212; The member will resume his seat! In my answer, if you had been listening, you would have heard that I also referred to reflections. Now, in accordance with that ruling, I would ask the minister to continue his answer.
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-md-12">
      <h2>GovHack Troll Folk:</h2>

      <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-title">
              <h4>Martin</h4>
            </div>
          </div>
          <div class="panel-body">
            <div class="row", style="height: 100px;">
              <div class="col-md-12">
                <center>
                <%= image_tag("martin.jpg", :class => "img-responsive img-thumbnail") %>
                </center>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <br>
                <a href="https://twitter.com/mfeckie" class="twitter-follow-button" data-show-count="false">Follow @mfeckie</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
              <br>
              <iframe src="http://ghbtns.com/github-btn.html?user=mfeckie&type=follow"
  allowtransparency="true" frameborder="0" scrolling="0" width="132" height="20"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-title">
              <h4>Rogerio</h4>
            </div>
          </div>
          <div class="panel-body">
            <div class="row", style="height: 100px;">
              <div class="col-md-12">
                <center>
                <%= image_tag("rogerio.jpg", :class => "img-responsive img-thumbnail") %>
                </center>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <br>
                <a href="https://twitter.com/roalcantara" class="twitter-follow-button" data-show-count="false">Follow @roalcantara</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
              <br>
              <iframe src="http://ghbtns.com/github-btn.html?user=roalcantara&type=follow"
  allowtransparency="true" frameborder="0" scrolling="0" width="132" height="20"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>



      <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-title">
              <h4>Mick</h4>
            </div>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12">
                <center>
                <%= image_tag("mick.jpg", :class => "img-responsive img-thumbnail") %>
                </center>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <br>
                <a href="https://twitter.com/omnipostrophe" class="twitter-follow-button" data-show-count="false">Follow @omnipostrophe</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
              <br>
              <iframe src="http://ghbtns.com/github-btn.html?user=mien&type=follow"
  allowtransparency="true" frameborder="0" scrolling="0" width="132" height="20"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>



      <div class="col-md-3">
        <div class="panel panel-default">
          <div class="panel-heading">
            <div class="panel-title">
              <h4>Elliot</h4>
            </div>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="col-md-12">
                <center>
                <%= image_tag("elliot.jpg", :class => "img-responsive img-thumbnail") %>
                </center>
              </div>
            </div>
            <div class="row">
              <div class="col-md-12">
                <br>
                <a href="https://twitter.com/shinnyarrow" class="twitter-follow-button" data-show-count="false">Follow @shinnyarrow</a>
<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                <br>
              <iframe src="http://ghbtns.com/github-btn.html?user=Elliot11&type=follow"
  allowtransparency="true" frameborder="0" scrolling="0" width="132" height="20"></iframe>
              </div>
            </div>
          </div>
        </div>
      </div>

    </div>
  </div>

</div>

