<!DOCTYPE html>
<html>
<head>
  <title>GovTroll</title>
  <%= stylesheet_link_tag    'application', media: 'all'%>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>
    <%= OPEN_AUSTRALIA_API_KEY %>
</body>
</html>
